force-app/main/default/flows/Take_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Menu_Item_Info</name>
        <label>Get Menu Item Info</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <actionName>TakeOrderService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>order_summary</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>menuItems</name>
            <value>
                <elementReference>get_select_menu_item_record</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>cast_menu_Item_as_list</name>
        <label>cast_menu_Item_as_list</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>menu_items_casted_list</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_select_menu_item_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Menu_Item_Info</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Menu_Item_Choices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Menu_Item__c</object>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Take Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Take Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_menu_items</name>
        <label>get_menu_items</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_a_Menu_Item</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Menu_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_select_menu_item_record</name>
        <label>get_select_menu_item_record</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>test4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_Menu_Item</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Menu_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>order_summary</name>
        <label>order_summary</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>order_summary_text</name>
            <fieldText>&lt;p&gt;CO.Id: {!Get_Menu_Item_Info}&lt;/p&gt;&lt;p&gt;MI.Name: {!Get_Menu_Item_Info.Menu_Item__r.Name}&lt;/p&gt;&lt;p&gt;AW&apos;s: {!Get_Menu_Item_Info.Alergen_Warnings__c}&lt;/p&gt;&lt;p&gt;Ingredients: &lt;/p&gt;&lt;p&gt;{!Get_Menu_Item_Info.Ingredients__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_Menu_Item</name>
        <label>Select a Menu Item</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>test</targetReference>
        </connector>
        <fields>
            <name>Choose_Menu_Item</name>
            <choiceReferences>Menu_Item_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose_Menu_Item</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test</name>
        <label>test</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_select_menu_item_record</targetReference>
        </connector>
        <fields>
            <name>test2</name>
            <fieldText>&lt;p&gt;You chose:  {!Choose_Menu_Item}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test4</name>
        <label>test4</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>cast_menu_Item_as_list</targetReference>
        </connector>
        <fields>
            <name>test3</name>
            <fieldText>&lt;p&gt;full chosen menu record: {!get_select_menu_item_record}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_menu_items</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>menu_items_casted_list</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Menu_Item__c</objectType>
    </variables>
    <variables>
        <name>Selected_Item_Ingredients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
